<div id = "ModelPortfolioDiv" ng-controller="ModelPortfolioCtrl">
<table >
	<tr>
		<td>Ticker</td>
        <td>Model Weight</td>
        <td>Share Quantity</td>
        <td>Market Price</td>
        <td>Market Value</td>
        <td>Market Weight</td>
        <td></td>
	</tr>
	<tr ng-repeat="security in modelPortfolio">
		<td>{{security.ticker}}</td>
        <td>{{security.modelWeight}}</td>
        <td>{{security.shareQuantity}}</td>
        <td>{{security.marketPrice}}</td>
        <td>{{security.marketValue}}</td>
        <td>{{security.marketWeight}}</td>
        <td><button ng-click="deleteSecurity($index)">Delete</button></td>
	</tr>
    <tr>
        <td></td>
        <td>{{totalWeight()}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
	<form ng-submit="addSecurity()"/>
	<tr>
		<td><input id = "txtTicker" type="text" ng-model="ticker"  size="8" placeholder="ticker" required autocomplete></input></td>
		<td><input type="text" ng-model="weight"  size="5" placeholder="target weight" required></input></td>
        <td><input type="text" ng-model="shareQuantity"  size="5" placeholder="target weight" value="0"></input></td>
        <td></td>
        <td></td>
        <td></td>
		<td><input class="btn-primary" type="submit" value="add"></td>
	</tr>
	</form>
</table>
</div>